html,
body {
  height: 100%;
  margin: 0;
}

.counter {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  background-color: black;
  color: white;
}


.background {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: lightgray;
  background-image: url('background.jfif');
  background-size: 105%;
  background-position: bottom;
  cursor: pointer;
  user-select: none;
}

.projectile {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%) scaleX(-1);
  width: 5%;
  height: 5%;
}

.enemy {
  position: absolute;
  top: 50%;
  transform: translate(50%, -50%) scaleX(-1);
  height: 25%;
  left: 0%;
}

.enemy {
  animation: slideEnemy 0.8s infinite alternate ease-in-out,
             slideEnemyHorizontal 10s linear infinite;
}


.enemy.collision {
  animation: none;
}

@keyframes moveProjectile {
  0% {
    right: 15%;
  }
  100% {
    right: calc(100% - 50px);
  }
}

@keyframes slideEnemy {
  0% {
    top: 1%;
  }
  100% {
    top: 85%;
  }
}

@keyframes slideEnemyHorizontal {
  0% {
    left: 0%;
  }
  100% {
    left: 75%;
  }
}

